{{define "jobs/index.html"}}
{{template "header" .}}

<h2>Jobs</h2>

<figure>
    <table>
        <thead>
            <tr>
                <th>Job</th>
                <th>Server</th>
                <th>Status</th>
                <th>Started</th>
                <th>Files</th>
            </tr>
        </thead>
        <tbody>
            {{range .Jobs}}
            <tr>
                <td><a href="/jobs/{{.ID}}">{{.ID}}</a></td>
                <td>{{.ServerID}}</td>
                <td>{{template "job-status" .Status}}</td>
                <td>{{.StartedAt.Format "02/01 15:04:05"}}</td>
                <td>{{len .Files}}</td>
            </tr>
            {{else}}
            <tr><td colspan="5" style="text-align:center">No jobs yet.</td></tr>
            {{end}}
        </tbody>
    </table>
</figure>

{{template "footer" .}}
{{end}}
